html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import './stylesheet/fonts.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', sans-serif;
  background: #e7eaf2;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    background-image: url('../public/img/blured-tablet-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: url('../public/img/blured-desktop-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 165%;
  }
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Poppins';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}
